include LICENSE
include README.md REPORT.md PATCHES.md requirements.txt
recursive-include config *.yaml *.txt
recursive-include vendor/pyradon *.py LICENSE README.md requirements.txt
recursive-include tests *.py
